@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

* {
    margin: 0;
    padding: 0;
    box-sizing: 0;
    list-style: none;
    font-family: 'Exo';
}

body {
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1.6rem;
    margin: 3rem;
    color: #9c7196;
    -webkit-text-stroke: 1.5px #ffffff;
    text-shadow: 0px 0px 10px rgba(255, 255, 255);
}

.underline {
    width: 120px;
    height: 5px;
    margin-top: 5px;
    background-color: #9c7196;
    box-shadow: 0px 0px 10px rgba(255, 255, 255);
    border: 2px solid #ffffff;
    /* transition: width 0.7s ease; */
    border-radius: 10px 0px;
}

main {
    width: 100%;
    min-height: 100%;
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* align-items: center;
    justify-content: center; */
}

#toDo_fieldset {
    display: none;
    background-color: #ffffff;
    border: 1px solid #000;
    border-radius: 10px;
    padding: 1rem;
    /* margin-bottom: 1rem; */
    margin: 0 0rem 1rem 0rem;
    width: 80vw;
    max-width: 600px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
}

#toDo_div, #edit_input_div {
    display: flex;
    background-color: #e5c2e031;
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

#toDo_input, #edit_input {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    position: relative;
    width: 100%;
    outline: none;
}

/* button {
    transition: 0.3s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
} */

button:hover {
    opacity: 70%;
    transition: 0.3s;
}

#toDo_button {
    background-color: transparent;
    border-radius: 5px;
    border: 2px solid #000;
    background-color: #e5c2e0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    /* box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5); */
}

#toDo_button img {
    width: 100%;
}

#toDo_section {
    display: none;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 1rem 1rem 0 1rem;
    margin: 0 0rem 3rem 0rem;
    width: 80vw;
    max-width: 600px;
    background-color: #fff;
    height: fit-content;
}

#toDo_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

#toDo_list li {
    display: flex;
    justify-content: space-between;
    background-color: #e5c2e031;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
}

#toDo_list li:last-child{
    margin-bottom: 1rem;
}

.toDo_task p {
    margin-right: 0.5rem;
}

.toDo_left,
.toDo_right {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.toDo_checkBtn_done {
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    border: 3px solid #397445;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #c1e5c8;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.toDo_checkBtn_done img {
    position: absolute;
    width: 60px;
    top: -23px;
    left: -13px;
    pointer-events: none;
}

.toDo_checkBtn {
    min-width: 25px;
    min-height: 25px;
    border-radius: 50%;
    border: 3px solid #d083c5;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e5c2e0;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    cursor: pointer;
    position: relative;
    transition: 0.3s;
}

.toDo_checkBtn:hover,
.toDo_checkBtn_done:hover {
    transition: 0.3s;
    opacity: 70%;
}

#toDo_list li button, #edit_text_button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #e5c2e0;
    position: relative;
    cursor: pointer;
}

.img_edit {
    width: 130%;
    position: absolute;
    bottom: -2.5px;
    left: -3px;
    pointer-events: none;
}

.img_delete {
    width: 100%;
    pointer-events: none;
}

#edit_section {
    display: none;
    justify-content: center;
    position: fixed;
    z-index: 1;
    right: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
}

#edit_content{
    margin-top: 196px;
    position: absolute;
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    background-color: #fff; 
    width: 80vw;
}

#edit_text_button img{
    width: 30px;
    height: 30px;
}

#clear_all_div{
    display: flex;
    justify-content: end;
    padding: 0rem 0.5rem 1rem 0rem;
    gap: 1rem;
}

#clear_all{
    width: 76px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #e5c2e0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}

#clear_all img{
   height: 100%;
}

#login_user_section{
    border: 1px solid #000;
    border-radius: 10px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    padding: 2rem 1rem 2rem 1rem;
    margin: 0 0rem 3rem 0rem;
    width: 80vw;
    max-width: 800px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#top_btns {
    display: flex;
    background-color: #e5c2e031;
    border-radius: 5px;
    display: flex;
    justify-content:center;
    /* gap: 1rem; */
    width: max-content;
    /* height: max-content; */
    margin-bottom: 2rem;
}

#top_btns button{
    /* border: 2px solid #000; */
    border-radius: 5px;
    /* background-color: transparent; */
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    width: 150px;
    height: 50px;
}

#login_top_btn{
    border: 1px solid #000;
    background-color: #e5c2e0;
}

#register_top_btn{
    background-color: transparent;
    border: none;
}

#register_user_fieldset{
    display: none;
    flex-direction: column;
    border: none;
    width: 100%;
    gap: 1rem;
}

#login_user_fieldset{
    display: flex;
    flex-direction: column;
    border: none;
    width: 100%;
    gap: 1rem;
}

#login_user_section input{
    background-color: #e5c2e031;
    border-radius: 5px;
    padding: 0.5rem;
    font-size: 1.2rem;
    border: 1px solid #0000002d;
    /* border: none; */
}

#register_btn, #login_btn{
    border-radius: 5px;
    background-color: #e5c2e0;
    border: 2px solid #000;
    /* background-color: transparent; */
    cursor: pointer;
    font-size: 2rem;
    font-weight: 500;
    width: 100%;
    height: 50px;
    margin-top: 1rem;
}

#sign_out_btn{
    width: 76px;
    height: 30px;
    border: 2px solid #000;
    border-radius: 5px;
    background-color: #e5c2e0;
    cursor: pointer;
    font-size: 1rem;
    font-weight: 500;
}



@media (min-width: 450px ){
    header{
        font-size: 2rem;
        -webkit-text-stroke: 2px #ffffff;
    }

    .underline{
        height: 6px;
        border: 3px solid #ffffff;
    }
}